/* ---------- VARIABLES ---------- */
/* ---------- GLOBAL RULES ---------- */
* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  height: 100vh; }

body {
  font-family: sans-serif;
  color: #d1d1d1;
  background-color: #242424; }

.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* ---------- TITLE ---------- */
.header {
  text-align: center;
  margin: 30px 0 50px 0; }
  .header__title {
    font-size: 60px; }

/* ---------- MAIN CONTENT ---------- */
.main-content {
  width: 65vw;
  display: flex;
  justify-content: space-around;
  align-items: center; }

/* ---------- CONTROL BAR ---------- */
.control-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh; }
  .control-bar__slider {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 1px;
    background: #505050; }
    .control-bar__slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background-color: #8f8f8f;
      cursor: pointer; }
      .control-bar__slider::-webkit-slider-thumb:hover {
        background-color: #d1d1d1; }
    .control-bar__slider::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background-color: #8f8f8f;
      cursor: pointer; }
      .control-bar__slider::-moz-range-thumb:hover {
        background-color: #d1d1d1; }
  .control-bar__colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer; }
    .control-bar__colorpicker::-webkit-color-swatch {
      border-radius: 15px;
      border: none; }
    .control-bar__colorpicker::-moz-color-swatch {
      border-radius: 15px;
      border: none; }
  .control-bar__button {
    background-color: #393939;
    color: #d1d1d1;
    border: none;
    height: 50px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px; }
    .control-bar__button:hover {
      background-color: #505050; }

/* ---------- SKETCH GRID ---------- */
.sketch-grid {
  height: 65vh;
  width: 65vh;
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);
  background-color: #e7e7e7; }
  .sketch-grid__square {
    border: solid 1px #393939; }

/* ---------- FOOTER ---------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5vh;
  width: 100%; }
  footer a {
    color: #d1d1d1; }
    footer a:visited {
      appearance: none; }
