/* ---------- VARIABLES ---------- */

  $text-color: #d1d1d1;
  $dark-gray: #474747;
  $background-color: #242424;
  $grid-color: #e7e7e7;

/* ---------- GLOBAL RULES ---------- */

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  // border: solid 1px red;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: sans-serif;
  color: $text-color;
  background-color: $background-color;
}
  
.body-wrapper {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ---------- TITLE ---------- */

.header {
  text-align: center;
  margin: 30px 0;
  &__title {
    font-size: 48px;
  }
}

/* ---------- MAIN CONTENT ---------- */

.main-content {
  width: 65vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ---------- CONTROL BAR ---------- */

.control-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;

  &__slider {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 1px;
    background: #d3d3d3;
    // outline: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background: $grid-color;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background: $grid-color;
      cursor: pointer;
    }
  }

  &__colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::-webkit-color-swatch {
      border-radius: 15px;
      border: none;
    }

    &::-moz-color-swatch {
      border-radius: 15px;
      border: none;
    }
  }

  &__button {
    background-color: $dark-gray;
    border: none;
    color: white;
    height: 50px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
  }
}

/* ---------- SKETCH GRID ---------- */

.sketch-grid {
  height: 65vh;
  width: 65vh;
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);

  &__square {
    border: solid 1px rgb(65, 65, 65);
    background-color: $grid-color;

    &--painted {
      background-color: black;
    }
  }
}

/* ---------- FOOTER ---------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5vh;
  width: 100%;
}