/* ---------- VARIABLES ---------- */

  $text-color: #d1d1d1;
  $background-color: #242424;
  $grid-color: #e7e7e7;

/* ---------- GLOBAL RULES ---------- */

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  border: solid 1px red;
}

body {
  font-family: sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100vh;
}
  
.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------- TITLE ---------- */

.header {
  margin: 30px 0;
  font-size: 36px;
}

/* ---------- MAIN CONTENT ---------- */

.main-content {
  width: 65vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ---------- CONTROL BAR ---------- */

.control-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;

  &__slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #04AA6D; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }

    &::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #04AA6D; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
  }
}

/* ---------- SKETCH GRID ---------- */

.sketch-grid {
  height: 65vh;
  width: 65vh;
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);

  &__square {
    border: solid 1px rgb(65, 65, 65);
    background-color: var(--grid-color);

    &--painted {
      background-color: black;
    }
  }
}

/* ---------- FOOTER ---------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5vh;
  width: 100%;
}